<link href="~/css/Pages/Teams.css" rel="stylesheet" />
<style>
    /*Navigation - current page*/
    nav li:nth-child(5) > a {
        background-color: #111;
    }
</style>

<article>
    <img src="~/Images/Team_backgrounds/spurs.jpg" height="350" width="1085" />

    <div>
        <h1>Pau Gasol</h1>

        <table class="playerImage_fr">
            <tr>
                <td>
                    <a href="http://www.nba.com/players/pau/gasol/2200" target="_blank"
                       title="Pau Gasol">
                        <img src="~/Images/Players/Spurs/Gasol.png" />
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    For more information<br />
                    click the photo above
                </td>
            </tr>
        </table>

        <table class="playerInfo">
            <tbody>
                <tr>
                    <td>Height</td>
                    <td>7 ft0 in / 2.13m</td>
                </tr>
                <tr>
                    <td>Weight</td>
                    <td>250 lbs / 113.4kg</td>
                </tr>
                <tr>
                    <td>Born</td>
                    <td>07/06/1980</td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td>36 years</td>
                </tr>
                <tr>
                    <td>From</td>
                    <td>Barcelona, Spain</td>
                </tr>
                <tr>
                    <td>NBA debut</td>
                    <td>2001</td>
                </tr>
                <tr>
                    <td>Years in NBA</td>
                    <td>15</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h1>Kawhi Leonard</h1>

        <table class="playerImage_fl">
            <tr>
                <td>
                    <a href="http://www.nba.com/players/kawhi/leonard/202695" target="_blank"
                       title="Kawhi Leonard">
                        <img src="~/Images/Players/Spurs/Leonard.png" />
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    For more information<br />
                    click the photo above
                </td>
            </tr>
        </table>

        <table class="playerInfo">
            <tbody>
                <tr>
                    <td>Height</td>
                    <td>6 ft7 in / 2.01m</td>
                </tr>
                <tr>
                    <td>Weight</td>
                    <td>230 lbs / 104.3kg</td>
                </tr>
                <tr>
                    <td>Born</td>
                    <td> 06/29/1991</td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td>25 years</td>
                </tr>
                <tr>
                    <td>From</td>
                    <td>San Diego State</td>
                </tr>
                <tr>
                    <td>NBA debut</td>
                    <td>2011</td>
                </tr>
                <tr>
                    <td>Years in NBA</td>
                    <td>5</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h1>Tony Parker</h1>

        <table class="playerImage_fr">
            <tr>
                <td>
                    <a href="http://www.nba.com/players/tony/parker/2225" target="_blank"
                       title="Tony Parker">
                        <img src="~/Images/Players/Spurs/Parker.png" />
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    For more information<br />
                    click the photo above
                </td>
            </tr>
        </table>

        <table class="playerInfo">
            <tbody>
                <tr>
                    <td>Height</td>
                    <td>6 ft2 in / 1.88m</td>
                </tr>
                <tr>
                    <td>Weight</td>
                    <td>185 lbs / 83.9kg</td>
                </tr>
                <tr>
                    <td>Born</td>
                    <td>05/17/1982</td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td>34 years</td>
                </tr>
                <tr>
                    <td>From</td>
                    <td>Paris, France</td>
                </tr>
                <tr>
                    <td>NBA debut</td>
                    <td>2001</td>
                </tr>
                <tr>
                    <td>Years in NBA</td>
                    <td>15</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h1>Danny Green</h1>

        <table class="playerImage_fl">
            <tr>
                <td>
                    <a href="http://www.nba.com/players/danny/green/201980" target="_blank"
                       title="Danny Green">
                        <img src="~/Images/Players/Spurs/Green.png" />
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    For more information<br />
                    click the photo above
                </td>
            </tr>
        </table>

        <table class="playerInfo">
            <tbody>
                <tr>
                    <td>Height</td>
                    <td>6 ft6 in / 1.98m</td>
                </tr>
                <tr>
                    <td>Weight</td>
                    <td>215 lbs / 97.5kg</td>
                </tr>
                <tr>
                    <td>Born</td>
                    <td>06/22/1987</td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td>29 years</td>
                </tr>
                <tr>
                    <td>From</td>
                    <td>North Carolina</td>
                </tr>
                <tr>
                    <td>NBA debut</td>
                    <td>2009</td>
                </tr>
                <tr>
                    <td>Years in NBA</td>
                    <td>7</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h1>LaMarcus Aldridge</h1>

        <table class="playerImage_fr">
            <tr>
                <td>
                    <a href="http://www.nba.com/players/lamarcus/aldridge/200746" target="_blank"
                       title="LaMarcus Aldridge">
                        <img src="~/Images/Players/Spurs/Aldridge.png" />
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    For more information<br />
                    click the photo above
                </td>
            </tr>
        </table>

        <table class="playerInfo">
            <tbody>
                <tr>
                    <td>Height</td>
                    <td>6 ft11 in / 2.11m</td>
                </tr>
                <tr>
                    <td>Weight</td>
                    <td>260 lbs / 117.9kg</td>
                </tr>
                <tr>
                    <td>Born</td>
                    <td>07/19/1985</td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td>31 years</td>
                </tr>
                <tr>
                    <td>From</td>
                    <td>Texas</td>
                </tr>
                <tr>
                    <td>NBA debut</td>
                    <td>2006</td>
                </tr>
                <tr>
                    <td>Years in NBA</td>
                    <td>10</td>
                </tr>
            </tbody>
        </table>
    </div>
</article>
